* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background-color: teal;
    padding: 20px;
    text-align: right;
}
.nav ul {
    list-style-type: none;
    margin-right: 20px;
}
.nav .list li {
    display: inline-block;
    padding: 10px;
    transition: 0.5s;
}
.nav .list li:hover {
    background-color: antiquewhite;
    border-radius: 5px;
}
.nav .list li:hover > a {
    color: teal;
    font-weight: bold;
}

.nav .list li a {
    color: white;
    text-decoration: none;
}
.brand {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: beige;
}

.home_header {
    background: url(./images/pic.jpg);
    height: 100vh;
    background-size: cover;
}
.heading {
    color: white;
    margin-top: 200px;
    font-size: 40px;
    margin-left: 30px;
}

.para {
    color: white;
    margin-left: 30px;
    font-size: 25px;
}
.product_section {
    height: 500px;
    text-align: center;
}
.products {
    margin: 30px;
}
.card {
    min-height: 400px;
    width: 30%;
    border: 1px solid grey;
    float: left;
    margin: 1.5%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
}
.card img {
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 100px;
}
.card h1 {
    background-color: darkslategrey;
    color: white;
    padding: 10px;
}
.card p {
    text-align: justify;
    padding: 15px;
}
.card:hover {
    box-shadow: 0 0 10px grey;
    transform: scale(1.05);
}
